---
layout: default
title: cheesemonger
permalink: /page/cheesemonger/
---

<h2>cheesemonger</h2>

<img src="/assets/images/personal/cheesemonger.jpg" alt="Cheesemonger Image">

<p>Feast your eyes on some examples of my work below.</p>

<h2>charcuterie</h2>

<div class="grid-container">
  {% for image in site.static_files %}
    {% if image.path contains '/assets/images/charcuterie/' %}
      <div class="grid-item">
        <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}">
      </div>
    {% endif %}
  {% endfor %}
</div>

<h2>sandwiches</h2>

<div class="grid-container">
  {% for image in site.static_files %}
    {% if image.path contains '/assets/images/sandwiches/' %}
      <div class="grid-item">
        <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}">
      </div>
    {% endif %}
  {% endfor %}
</div>

<style>
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  width: 100%;
  margin-bottom: 20px;
}

.grid-item img {
  width: 100%;
  height: auto;
}
</style>
