{% if site.disqus.shortname %}
<div id="disqus_thread"></div>
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
   */
  var disqus_config = function () {
    this.page.url = "{{ page.url | absolute_url }}";  // Replace with the URL of your page.
    this.page.identifier = "{{ page.url | absolute_url }}"; // Replace with a unique identifier for your page.
  };
  (function() {  // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://https-psibir-github-io.disqus.com/embed.js';  // Replace "your-disqus-shortname" with your Disqus shortname.
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<style>
  /* Custom CSS style for the Disqus text boxes */
  #disqus_thread input[type="text"],
  #disqus_thread textarea {
    background-color: #1f1f1f;
    color: #fff;
    border: 1px solid #333;
  }
</style>
{% endif %}
