---
layout: default
title: Contact
permalink: /pages/contact/
---

<h1>Contact</h1>

You can reach me via this form:

<!-- modify this form HTML and place wherever you want your form -->
<form action="https://formspree.io/f/xeqwddaq" method="POST">
  <label>
    Your email:
    <input type="email" name="email" style="background-color: #333; color: #fff; border: 1px solid #ddd;">
  </label>
  <label>
    Your message:
    <textarea name="message" style="background-color: #333; color: #fff; border: 1px solid #ddd;"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>
