---
layout: default
title: contact
permalink: /page/contact/
---

<h1>contact</h1>

<p>Email is the best way to <a href="mailto:bloomfieldtm@gmail.com">contact me</a>.</p>

<p>You will recieve a response within 24-48 hours.</p>

<p>Alternatively, you can reach me via this form:</p>

<!-- modify this form HTML and place wherever you want your form -->
<form action="https://formspree.io/f/xeqwddaq" method="POST">
  <label>
    Your email:
    <input type="email" name="email" style="background-color: #333; color: #fff; border: 1px solid #ddd;">
  </label>
  <label>
    Your message:
    <textarea name="message" style="background-color: #333; color: #fff; border: 1px solid #ddd;"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>
