---
title: Home
layout: default
---

<div class="home card">
  <div class="welcome-section">
    <h1>Hi, I'm Trevor</h1>
    <p>For potential employers: Mosey over to the [Projects](https://psibir.github.io/page/projects/) and [Services](https://psibir.github.io/page/services/) page to get an idea of my work.</p>
    <p>If this is your first time here, this site is a little different since there is no main theme. Rather, it is a repository of whatever I am interested in at the moment.</p>
    <p>So sometimes I'll write about [algorithmically loading dishwashers](https://psibir.github.io/article/algorithmicdishwasher/), or something about [the Baudrillardian turn of flavor marketing](https://psibir.github.io/article/flavor-psychopolitics/).</p>
    <p>If you want to read the full blog, check it out [here](https://psibir.github.io/page/blog/).</p>
  </div>
  
    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
</div>
