---
title: Home
layout: default
---

<div class="home card">
  <div class="welcome-section">
    <h1>Hi, I'm Trevor</h1>
    <p>For potential employers: Mosey over to the <a href="https://psibir.github.io/page/projects/">Projects</a> page to get an idea of my work.</p>
    <p>If this is your first time here, this site is a little different since there is no main theme. Rather, it is a repository of whatever I am interested in at the moment.</p>
    <p>So sometimes I'll write about <a href="https://psibir.github.io/article/algorithmicdishwasher/">algorithmically loading dishwashers</a>, or something about <a href="https://psibir.github.io/article/flavor-psychopolitics/">the Baudrillardian turn of flavor marketing</a>.</p>
    <p>If you want to read the full blog, check it out <a href="https://psibir.github.io/page/blog/">here</a>.</p>
  </div>
</div>
