---
layout: default
title: projects
permalink: /pages/projects/
---

<script>
  function toggleView() {
    const projectsContainer = document.getElementById('projects-container');
    projectsContainer.classList.toggle('grid-view');
  }
</script>

<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <button onclick="toggleView()">Toggle View</button>

    <div id="projects-container" class="projects-container">
      {% for project in site.data.projects %}
        <div class="project">
          <img src="{{ project.logo }}" alt="{{ project.name }} Logo" class="project-logo">
          <h2>{{ project.name }}</h2>
          <p>{{ project.description }}</p>
          <h3>Use Case</h3>
          <p>{{ project.use_case }}</p>
          <a href="{{ project.blog_post }}">Read Blog Post</a>
          <a href="{{ project.github_link }}">GitHub</a>
        </div>
      {% endfor %}
    </div>
  </div>
</main>
