---
layout: default
---

<h1>{{ page.title }}</h1>

<h2>Articles</h2>
<ul>
  {% for post in site.categories['article'] %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<h2>Stories</h2>
<ul>
  {% for post in site.categories['story'] %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<h2>Screenplays</h2>
<ul>
  {% for post in site.categories['play'] %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
